.pr.title1{
    color: #55575a
}
h1.pr-title1 {
    margin-left: 219px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 36px;
}
h3.pr-title2 {
    margin-left: 192px;
    font-weight: 500;
    font-size: 26px;
}
.pr-title {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.pricing-tabs2>div{
/* border:1px solid red; */
width:285px;
height:100px;
margin-right: 0px;
 background-color: #e9e9f0;
 /* border-top: 2px solid blue; */
}
.pricing-tabs2{
    display: flex;
    margin-left:100px;
    margin-right:100px;
}
.pricing-tabs3>p {
    margin-top: 32px;
    margin-left: 75px;
    font-size: 20px;
    color:#0067b8
    
}
h6 {
    margin-top: -15px;
    margin-left: 76px;
    color:#0067b8
}
.time {
    border: 1px solid red;
    height: 35px;
    width: 439px;
    margin-left: 400px;
    margin-top: 34px;
    border-radius: 50px;
    padding-left: 15px;
    padding-top: 7px;
    margin-bottom: 19px;
    background-color: #e9e9f0;
}

button {
    width: 140px;
    height: 30px;
    border-radius: 50px;
    background-color: #e9e9f0;
    border:1px solid  #e9e9f0;
    
}
#members{
    border:1px solid red;
    width:1300px;
    height:450px;
    margin:20px;
    background-image:url("bg-boxed-light-01.jpg");
}
 #d1 {
    border-radius: 50%;
    margin-top: 110px;
    margin-left: 545px;
}
 p#tes1 {
    margin-top: 50px;
    margin-left: 338px;
} 
h5.name {
    margin-left: 534px;
}
h6.designation {
    margin-left: 500px;
}
h2#a2 {
    margin-left: 502px;
}
div#a1 {
    margin-left: 100px;
}
.dropbtn {
    background-color: #e9e9f0;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:500px;
    height:50px;
    margin-left: 200px;
    border: none;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 200px;
    border-radius: 50px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .dropbtn2 {
    background-color: #e9e9f0;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:500px;
    height:50px;
    margin-left: 200px;
    border: none;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 200px;
    border-radius: 50px;
  }
  
  .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown2 a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .dropbtn3 {
    background-color: #e9e9f0;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:500px;
    height:50px;
    margin-left: 100px;
    border: none;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown3 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 96px;
    border-radius: 50px;
  }
  
  .dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown3 a:hover {background-color: #ddd;}
  
  .show {display: block;}

   #faq1{
      /* border:1px solid red; */
      height:150px;
      width:506px;
      margin-left: 19px;
      float:left
  } 
   #faq2{
    /* border: 1px solid red; */
    height: 150px;
    width: 506px;
    margin-left: 731px;
    float: right;
    margin-top: -153px;
} 
/* #faq{
    display:flex
} */

.dropbtn4 {
    background-color: #e9e9f0;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:500px;
    height:50px;
    margin-left: 100px;
    border: none;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown4 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 96px;
    border-radius: 50px;
  }
  
  .dropdown-content4 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown4 a:hover {background-color: #ddd;}
  
  .show {display: block;}