.pr.title1{
    color: #55575a
}
h1.pr-title1 {
    margin-left: 219px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 36px;
}
h3.pr-title2 {
    margin-left: 192px;
    font-weight: 500;
    font-size: 26px;
}
.pr-title {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.pricing-tabs2>div{
/* border:1px solid red; */
width:25%;
height:100px;
margin-right: 0px;
 background-color: #e9e9f0;
 /* border-top: 2px solid blue; */
}
.pricing-tabs2{
    display: flex;
    margin-left:50px;
    margin-right:68px;
    /* border:1px solid red */
}
.pricing-tabs3>p {
    margin-top: 32px;
    margin-left: 75px;
    font-size: 20px;
    color:#0067b8
    
}
h6 {
    margin-top: -15px;
    margin-left: 76px;
    color:#0067b8
}
.time {
    /* border: 1px solid red; */
    height: 35px;
    width: 439px;
    margin-left: 400px;
    margin-top: 34px;
    border-radius: 50px;
    padding-left: 15px;
    padding-top: 7px;
    margin-bottom: 19px;
    background-color: #e9e9f0;
}


#t1,#t2,#t3,.a20 {

    width: 140px;
    height: 30px;
    border-radius: 50px;
    background-color: #e9e9f0;
    border:1px solid  #e9e9f0;
    
}
#members{
    /* border:1px solid red; */
    width:100%;
    height:450px;
    margin-top: 279px;
    /* margin-left:50px;
    margin-right:68px ; */
    background-image:url("bg-boxed-light-01.jpg");
}
 #d1 {
    border-radius: 50%;
    margin-top: 123px;
    margin-left: 545px;
}
 #tes1 {
    margin-top: 50px;
    margin-left: 338px;
    /* background-color: hotpink; */
} 
h5.name {
    margin-left: 559px;
    color:#4cc2c0;
    font-size:18px ;
}
h6.designation {
    margin-left: 500px;
    color:#797676;
    font-size:14px ;
}
h2#a2 {
    margin-left: 502px;
}
div#a1 {
    margin-left: 100px;
}
.dropbtn {
    background-color: #e9e9f0;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:500px;
    height:50px;
    margin-left: 100px;
    border: none;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 200px;
    border-radius: 50px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .dropbtn2 {
    background-color: #e9e9f0;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:500px;
    height:50px;
    margin-left: 100px;
    border: none;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 200px;
    border-radius: 50px;
  }
  
  .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown2 a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .dropbtn3 {
    background-color: #e9e9f0;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:500px;
    height:50px;
    margin-right: 100px;
    border: none;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown3 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 96px;
    border-radius: 50px;
  }
  
  .dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown3 a:hover {background-color: #ddd;}
  
  .show {display: block;}

   #faq1{
      /* border:1px solid red; */
      height:150px;
      width:506px;
      margin-left: 19px;
      float:left
  } 
   #faq2{
    /* border: 1px solid red; */
    height: 150px;
    width: 506px;
    margin-left: 731px;
    float: right;
    margin-top: -153px;
} 
/* #faq{
    display:flex
} */

.dropbtn4 {
    background-color: #e9e9f0;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:500px;
    height:50px;
    margin-right: 100px;
    border: none;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown4 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 96px;
    border-radius: 50px;
  }
  
  .dropdown-content4 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown4 a:hover {background-color: #ddd;}
  
  .show {display: block;}

  div#plans {
    width: 1260px;
    height: 600px;
    /* border: 1px solid red; */
    margin-left: 50px;
    margin-right: 50px;
}
#plan1,#plan2,#plan3,#plan4{
     border:1px solid gray; 
    width:23%;
    height:765px;
    margin-right:20px;
    margin-top: 30px;
    float:left
}
#a10{
    height:15%;
     /* background-color: red;  */
     margin-top: -33px;
    /* color:red; */
    /* font-size: 40px; */
    /* margin-left: 40px; */
}
#a11{
    height:11%;
     background-color:#f5f4f7; 
     margin-top: -31px;
}
#a12{
    height:11%;
    /* background-color:yellow; */
}
#a13{
    height:45%;
    /* background-color:chartreuse; */
 
    margin-top: 53px;
}
#a14{
    
    height: 10%;
    color: blue;
    margin-top: 24px;
    margin-left: 75px;
}
#a15{
    color: red;
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 83px;
    margin-top: 51px;
    margin-bottom: 30px;
}
#a16{
    color: #b3b3b3;
    font-size: 1.5rem;
    margin-top: -74px;
    margin-left: 133px;
}
#a17{
    color:black;
    font-size: 19px;
    font-weight: 400;
    margin-left: 102px;
    margin-top: 10px;
}
#a18{
    color: black;
    font-size: 1rem;
     margin-top: -7px; 
    margin-left: 81px;
    /* background-color:#f5f4f7; */
}
h3.a19 {
    margin-top: 18px;
    margin-left: 113px;
    font-size: 1.4rem;
    font-weight: 400;
}
.a20{
    background-color: white;
    margin-left: 69px;
    height: 40px;
    margin-top: -24px;
    border:1px solid #693f93;
}
#tick{
    width:20px;
    margin-top: -1px;
    margin-left: 10px;
}

p#\32 1 {
    margin-left: 39px;
    margin-top: -29px;
}
/* #a14 {
    height: 10%;
    color: blue;
    margin-top: -8px;
    margin-left: 75px;
    background-color: white;
} */

p#a21 {
    margin-left: 199px;
    margin-top: -64px;
}
p#a22 {
    margin-left: 105px;
    margin-top: -34px;
}

p#\32 3 {
    font-size: 20px;
    color: black;
    margin-left: 16px;
}
p#a30 {
    margin-left: 219px;
    margin-top: -66px;
}
/* img#d1 {
  margin-top: 20px;
} */
h5.name2 {
  margin-left: 577px;
  font-size: 18px;
  color:#4cc2c0;
}
h6.designation2 {
  margin-left: 460px;
  font-size: 14px;
  color:#797676;
  margin-top:-29px
}
h6.designation3 {
  margin-left: 441px;
}
h5.name3 {
  margin-left: 576px;
  color:#4cc2c0;
  font-size:18px;
}
h6.designation4 {
  margin-left: 498px;
  color: #797676;
  font-size:14px
}
#d2{
  margin-top:75px;
  border-radius: 50px;
  margin-left: 572px;
}
#d3{
  margin-top: 51px;
  border-radius: 50px;
    margin-left: 572px;
}
h6.designation5 {
  margin-left: 541px;
  color: #797676;
  font-size:14px;
  margin-top: -27px;
}
h5.name4 {
  margin-left: 580px;
  margin-bottom: 32px;
  color:#4cc2c0;
  font-size: 18px;
}
#d4 {
  margin-left: 591px;
  border-radius: 50px;
  margin-top: 128px;
}
h5.name5 {
  margin-left: 590px;
  font-size: 18px;
  color:#4cc2c0;
  margin-top: 0px;
  margin-bottom: 53px;

}
.designation6 {
  margin-top: -42px;
  margin-left: 472px;
  color: #797676;
  font-size: 14px;
}

#d5 {
  margin-left: 608px;
  border-radius: 50px;
  margin-top: 123px;
}
h5.name6 {
  margin-left: 550px;
  color:#4cc2c0;
  font-size: 18px;
  margin-top: -2px;
}
.designation7{
  margin-left: 453px;
  color:#797676 ;
    font-size: 14px;
    margin-top: -15px;
}
h5.name20 {
  margin-left: 535px;
  font-size: 18px;
  color:#4cc2c0
}

.designation30 {
  margin-top: -24px;
  margin-left: 433px;
  color: #797676;
  font-size: 14px;
}
