.resourses{
    background-color: #fff;
    width: 100%;
}
.Heading{
    padding: 90px 0;
    margin: auto;
}
.top1{
    color:#2f2c2c;
    font-size: 42px!important;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;

}
.top5{
    font-size: 26px;
    margin: 0 0 7px;
    color:#2f2c2c;
    font-weight: bold;
    text-align: center;

}
#grid11{
    width: 100%;
    text-align: center;
    margin: auto;
    row-gap: 100px;
    display:grid;
    grid-template-columns:repeat(3, 33%);
}
.box{
    padding: 30px 20px;
    border-radius: 4px;
    transition: all .3s ease;
}
.box:hover{
background-color: whitesmoke ;
}
.Img{
    width:100%;
}
.Img>img{
    width: 100%;

}
a{
    text-decoration : none!important;
}
.Top4{
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #6f6f6f;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.TopP{
    font-size: 16px;
    color: #252525;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.readMore{
    color: #0067b8;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}
@media(max-width:1400px){
    .resourses{
        width: 80%;
        margin: auto;
    
    }

}
@media(max-width:992px){
    #grid11{
        text-align: center;
    
        margin: auto;
        gap: 50px;
        row-gap: 100px;
        display:grid;
        grid-template-columns: 50% 50%;
    }

}
@media(max-width:600px){
    #grid11{
        text-align: center;
        
        margin: auto;
        gap: 50px;
        row-gap: 100px;
        display:grid;
       grid-template-columns: 100%;
    }
    
}
