.resourses{
    background-color: #fff;

}
.Heading{
    padding: 90px 0;
    margin: auto;
    width: 1200px;

}
.top1{
    color:#2f2c2c;
    font-size: 42px!important;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;

}
.top5{
    font-size: 26px;
    margin: 0 0 7px;
    color:#2f2c2c;
    font-weight: bold;
    text-align: center;

}
#grid11{
    text-align: center;
    max-width: 1570px;
    margin: auto;
    gap: 50px;
    row-gap: 100px;
    display:grid;
    grid-template: "b1 b2 b3"
    "b4 b5 b6"
    "b7 b8 b9";
}
#box1{
    grid-area: b1;
    padding: 30px 20px;
    border-radius: 4px;
    
}
#box2{
    grid-area: b2;
    padding: 30px 20px;
    border-radius: 4px;
}
#box3{
    grid-area: b3;
    padding: 30px 20px;
    border-radius: 4px;
}
#box4{
    grid-area: b4;
    padding: 30px 20px;
    border-radius: 4px;
}
#box5{
    grid-area: b5;
    padding: 30px 20px;
    border-radius: 4px;
}
#box6{
    grid-area: b6;
    padding: 30px 20px;
    border-radius: 4px;
}
#box7{
    grid-area: b7;
    padding: 30px 20px;
    border-radius: 4px;
}
#box8{
    grid-area: b8;
    padding: 30px 20px;
    border-radius: 4px;
}
#box9{
    grid-area: b9;
    padding: 30px 20px;
}
.Img{
    width: 100%;
    
}
.Img>img{
    width: 430px;

}
a{
    text-decoration : none!important;
}
.Top4{
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #6f6f6f;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.TopP{
    font-size: 22px;
    color: #252525;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.readMore{
    color: #0067b8;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}
@media(max-width:992px){

}
@media(max-width:600px){
    
}
