*{ font-size: 14px;
    font-family: 'Poppins',sans-serif!important;
    line-height: 1.5;
}
::placeholder {
    color: rgb(202, 195, 195)
}
input {
    border: 1px solid rgb(94, 93, 93);
}
#mainCont {
    width: 100%;
    display: flex;
    margin: 0%;
}
.cont1 {
    width: 35%;
    height: 44vw;
    margin: 0%;
}
.box1 {
    width: 60%;
    margin: auto;
    font-size: 40px;
    text-align: center;
}
.box1 > img {
    width: 90%;
    height: 2vw;
}
.cont1 > div:nth-child(2) {
    margin-top: 4%;
}
.cont2 {
    width: 65%;
    background-color: blue;
    height:44vw;
}
.signupform > div:nth-child(n) {
    font-size: 18px;
    width: 80%;
    text-align: left;
    margin-top: 10px;
}
form > div:nth-child(n) > input {
    width: 100%;
    height: 3vw;
    margin-top: 3%;
    padding-left: 2%;
    border-color: white;
    color: rgb(194, 191, 191)
}

.btn {
    width: 82.6%;
    margin: auto;
}
.btn > button {
    width: 100%;
    height: 3.7vw;
    margin-top: 8%;
    background-color:#dc3545;
    border: 0px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.btn2 {
    display: grid;
    grid-template-rows: 4vw;
    grid-template-columns: 20% 80%;
    width: 82%;
    margin-top: 5%;
}
.btn2 > div:nth-child(1) > img {
    width: 90%;
    height: 2.4vw;
    margin-top: 12%;
}
.btn2 > div:nth-child(1) {
    border: 1px solid rgb(18, 151, 204);
}
.btn2 > div:nth-child(2) > button {
    width: 100%;
    height: 4vw;
   background-color: rgb(18, 151, 204);
   border: 0px;
   color: white;
   font-weight: bold;
}
.cont1 > div:nth-child(4) {
    text-align: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #mainCont {
        width: 100%;
    }
    .cont1 {
        width: 100%;
        height: 44vw;
    }
    .cont1 > div:nth-child(2) {
        margin-top: 8px;
    }
    .cont2 {
        width: 0%;
        display: none;
    }
    .box1 {
        width: 40%;
        font-size: 18px;
        margin-top: 40px;
        font-weight: 400;
    }
    .box1 > img {
        width: 90%;
        height: 5vw;
    }
    form > div:nth-child(n) > input {
        width: 93%;
        height: 6vw;
        border: 1px solid rgb(214, 210, 210);
        border-radius: 3px;
        margin-top: 5px;
    }
    .btn > button {
        width: 97.5%;
        height: 7vw;
        margin-top: 7%;
        color: white;
        font-size: 15px;
        border-radius: 3px;
    }
    .btn {
        width:78%;
        margin-top: 3%;
        margin: auto;
    }
    .btn2 > div:nth-child(2) > button {
        width: 96.5%;
        height: 7vw;
    }
    .btn2 > div:nth-child(1) {
        width: 100%;
    }
    .btn2 {
        display: grid;
        grid-template-rows: 7vw;
        grid-template-columns: 15% 85%;
        width: 78%;
        margin:auto;
        margin-top: 18px;
    }
    .btn2 > div:nth-child(1) > img {
        width: 65%;
        height: 4vw;
        margin-top: 10%;
        margin-left: 13%;
    }
    .signupform > div:nth-child(n) {
        margin-top: 16px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .lastlineText {
        font-size: 12.5px;
        line-height: 24px;
    }
    #mainCont {
       height: 650px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #mainCont {
        width: 100%;
    }
    .cont1 {
        width: 100%;
        height: 44vw;
    }
    .cont1 > div:nth-child(2) {
        margin-top: 1%;
    }
    .cont2 {
        width: 0%;
        display: none;
    }
    .box1 {
        width: 40%;
        margin-top: 6%;
        font-size: 20px;
    }
    .name_box {
        width: 50%;
    }
    .box1 > img {
        width: 90%;
        height: 5vw;
    }
    form > div:nth-child(n) > input {
        width: 100%;
        height: 6vw;
        border: 1px solid rgb(182, 177, 177);
        border-radius: 3px;
        margin-top: 5px;
    }
    .signupform > div:nth-child(n) {
        width: 57%;
        margin-top: 7%;
        height: 8vw;
        border: 0px;
    }
    .lastlineText {
        font-size: 12.5px;
        line-height: 24px;
    }
    .btn {
        margin: auto;
        width: 60%;
        padding-left: 3%;
        margin-top: 5%;
    }
    .btn > button {
        width: 98%;
        height: 7vw;
        margin-top: 8%;
        color: white;
        font-size: 15px;
        border-radius: 3px;
    }
    .btn2 > div:nth-child(2) > button {
        width: 103%;
        height: 7vw;
    }
    .btn2 {
        display: grid;
        grid-template-rows: 7vw;
        grid-template-columns: 25% 75%;
        margin: auto;
        width: 57%;
        margin-top: 3%;
    }
    .btn2 > div:nth-child(1) > img {
        width: 70%;
        height: 4vw;
        margin-top: 10%;
        margin-left: 6%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #mainCont {
        width: 100%;
    }
    .cont1 {
        width: 100%;
        height: 44vw;
    }
    .cont1 > div:nth-child(1) > img {
        height: 4vw;
        width: 70%;
    }
    .cont2 {
        width: 0%;
        display: none;
    }
    .box1 {
        font-size: 20px;
        margin-top: 6%;
    }
    .box1 > img {
        width: 60%;
        height: 3vw;
    }
    .cont1 > div:nth-child(2) {
        font-size: 20px;
        margin-top: 0.5%;
    }
    form > div:nth-child(n) > input {
        width: 92%;
        height: 6vw;
    }
    .btn2 > div:nth-child(2) > button {
        width: 97.5%;
        height: 6vw;
    }
    .btn2 {
        display: grid;
        grid-template-rows: 6vw;
        grid-template-columns: 15% 85%;
        width: 57%;
        margin: auto;
        margin-top: 2%;
    }
    .btn > button {
        width: 93%;
        height: 6vw;
        color: white;
        font-size: 15px;
    }
    .btn2 > div:nth-child(1) > img {
        width: 70%;
        height: 3vw;
        margin-top: 12%;
        margin-left: 8%;
    }
    .btn2 > div:nth-child(1) {
        width: 99%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #mainCont {
        width: 100%;
        display: flex;
        margin: 0%;
    }
    .cont1 {
        width: 33%;
        margin: 0%;
    }
    .box1 {
        width: 80%;
        margin-top: 18%;
    }
    .cont1 > div:nth-child(1) > img {
        height: 3vw;
        width: 75%;
    }
    .signupform > div:nth-child(n) {
        margin-top: 23px;
    }
    .cont1 > div:nth-child(2) {
        font-size: 20px;
        height: 5vw;
        font-weight:normal;
        margin: auto;
        text-align: center;
        margin-top: 2%;
    }
    #backimage {
        width: 100%;
        height: 70vh;
        background-image: url(https://d2p078bqz5urf7.cloudfront.net/cloud/assets/img/login-image.svg);
        background-repeat: no-repeat;
        background-position:left;
        background-position: bottom;
        background-color: transparent;
        margin-top: 60px;
        margin-left: 20px;
    }
    .signupform > div:nth-child(n) {
        font-size: 18px;
        width: 86%;
        text-align: left;
        margin-top: 8%;
    }
    .signupform > div:nth-child(1) {
        margin-top: 0.5%;
    }
    form > div:nth-child(n) > input {
        width: 98%;
        height: 5vw;
        margin-top: 3%;
        padding-left: 2%;
        border-color: white;
        border: 1px solid rgb(209, 208, 208);
        border-radius: 3px;
    }
    .btn {
        width: 88%;
        margin-left: 10%;
        margin: auto;
        height: 5vw;
        margin-top: 10%;
    }
    .btn > button {
        width: 99%;
        height: 5vw;
        background-color:#dc3545;
        border: 0px;
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin-top: 0%;
    }
    .btn2 {
        display: grid;
        grid-template-rows: 5vw;
        grid-template-columns: 15% 85%;
        width: 86%;
        margin-top: 5%;
    }
    .btn2 > div:nth-child(1) > img {
        width: 99%;
        height: 3vw;
        margin-top: 27%;
        margin-left: 1%;
    }
    .btn2 > div:nth-child(1) {
        border: 1px solid rgb(18, 151, 204);
    }
    .btn2 > div:nth-child(2) > button {
        width: 100%;
        height: 5vw;
       background-color: rgb(18, 151, 204);
       border: 0px;
       color: white;
       font-weight: bold;
    }
    .cont1 > div:nth-child(4) {
        text-align: center;
        margin-top: 10%;
        line-height: 25px;
        font-size: 16px;
    }
    .media > img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 15px;
        border: 4px solid rgb(90, 90, 240);
        flex-grow: 4;
    }
    .cont2 > div:nth-child(1) {
        width: 83%;
        margin: 10px;
        margin-left: 10% !important;
        border-radius: 1%;
        color: white;
        height: 14vw;
        background-image: linear-gradient(135deg, #2856B7 10%, #339AD4 100%);
        text-align: right;
        padding-right: 20px;
    }
    .cont2 {
        width: 65%;
        height:100vh;
        background-size: 65%;
        background: linear-gradient(135deg, #130CB7 10%,#52E5E7 100%);
        display:initial;
        position:fixed;
        margin-right: 0;
        margin-left: 35%;
    }
    .mediatext {
        font-size: 13px;
        padding-top: 5px;
    }
    .mediatext > i {
        font-size: 13px;
    }
    .media {
        display: grid;
        grid-template-rows: 6vw;
        grid-template-columns: 20% 80%;
    }
    #mediaLine1 {
        text-align: left;
    }
} 

/* Extra large devices (large laptops and desktops, 1032px and up) */
@media only screen and (min-width: 1032px) {
    .box1 > img {
        width: 88%;
        height: 3vw;
    }
    form > div:nth-child(n) > input {
        height: 4.5vw;
        border: 1px solid rgb(221, 218, 218);
        border-radius: 3px;
    }
    form > div:nth-child(2), div:nth-child(4) {
        margin-top: 4%;
    }
    form > div:nth-child(1) {
        margin-top: 5vw;
    }
    .btn > button {
        height: 5vw;
        margin-top: 1.7%;
    }
    .btn {
        margin-top: 3vw;
    }
    .cont2 {
        width: 67%;
        height:100vh;
        background-size: 65%;
        background: linear-gradient(135deg, #130CB7 10%,#52E5E7 100%);
        display:initial;
        position:fixed;
        margin-right: 0;
        margin-left: 35%;
    }
    #backimage {
        width: 100%;
        height: 70vh;
        background-image: url(https://d2p078bqz5urf7.cloudfront.net/cloud/assets/img/login-image.svg);
        background-repeat: no-repeat;
        background-position:left;
        background-position: bottom;
        background-color: transparent;
        margin-top: 60px;
        margin-left: 20px;
    }
    .box1 {
        margin-top: 4vw;
        font-size: 20px;
    }
    .btn2 > div:nth-child(2) > button {
        height: 4.5vw;
    }
    .btn2 {
        grid-template-rows: 4.5vw;
        margin-top: 4%;
    }
    .cont2 > div:nth-child(1) {
        width: 83%;
        margin: 10px;
        margin-left: 10% !important;
        border-radius: 1%;
        color: white;
        height: 13vw;
        text-align: right;
        background-image: linear-gradient(135deg, #2856B7 10%, #339AD4 100%);
    }
    .media > div > img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 15px;
        border: 4px solid rgb(73, 73, 224);
    }
    .media {
        display: grid;
        grid-template-rows: 6vw;
        grid-template-columns: 20% 80%;
    }
    #mediaLine1 {
        text-align: left;
    }
}
    /* Extra large devices (large laptops and desktops, 1080px and up) */
@media only screen and (min-width: 1080px) {
    .box1 > img {
        width: 85%;
        height: 3vw;
    }
    form > div:nth-child(n) > input {
        height: 4vw;
        border: 1px solid rgb(221, 218, 218);
        border-radius: 3px;
    }
    form > div:nth-child(2), div:nth-child(4) {
        margin-top: 1%;
    }
    form > div:nth-child(1) {
        margin-top: 3vw;
    }
    .btn > button {
        height: 4vw;
        margin-top: 1.7%;
    }
    .btn {
        margin-top: 0.5vw;
    }
    .cont2 {
        width: 67%;
        height:100vh;
        background-size: 65%;
        background: linear-gradient(135deg, #130CB7 10%,#52E5E7 100%);
        display:initial;
        position:fixed;
        margin-right: 0;
        margin-left: 35%;
    }
    .box1 {
        margin-top: 4vw;
        font-size: 20px;
    }
    form > div:nth-child(2) {
        margin-top: 1%;
    }
    .btn2 > div:nth-child(2) > button {
        height: 4vw;
    }
    .btn2 {
        grid-template-rows: 4vw;
        margin-top: 4%;
    }
    .cont2 > div:nth-child(1) {
        width: 83%;
        margin: 10px;
        border-radius: 1%;
        color: white;
        height: 11vw;
        background-image: linear-gradient(135deg, #2856B7 10%, #339AD4 100%);
    }
    .media > div > img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 15px;
        border: 4px solid rgb(29, 29, 219);
    }
    #backimage {
        width: 100%;
        height: 70vh;
        background-image: url(https://d2p078bqz5urf7.cloudfront.net/cloud/assets/img/login-image.svg);
        background-repeat: no-repeat;
        background-position:left;
        background-position: bottom;
        background-color: transparent;
        margin-top: 60px;
        margin-left: 20px;
    }
    .btn2 > div:nth-child(1) > img {
        width: 70%;
        height: 2vw;
        margin-top: 20%;
        margin-left: 8%;
    }
    .media {
        display: grid;
        grid-template-rows: 6vw;
        grid-template-columns: 20% 80%;
    }
}
 
    /* Extra large devices (large laptops and desktops, 1365px and up) */
@media only screen and (min-width: 1365px) {
    .cont1 > div:nth-child(1) > img {
       width: 60%;
       height: 5.3vh;
    }
    .box1 {
        margin-top: 2%;
    }
    .cont1 > div:nth-child(2) {
        font-size: 20px;
        margin-top: 1%;
    }
    .cont1 > div:nth-child(1) {
        margin-top: 40px;
    }
    form > div:nth-child(n) > input {
        height: 3.5vw;
        border: 1px solid rgb(221, 218, 218);
        color: hsl(0, 17%, 93%);
        border-radius: 3px;
        margin-top: 2%;
    }
    .btn > button {
        height: 3.5vw;
        margin-top: 1.7%;
        border-radius: 3px;
    }
    .btn {
        margin-top: 0.5vw;
    }
    .cont2 {
        width: 67%;
        background-color: blue;
        height:44.5vw;
        background: linear-gradient(135deg, #130CB7 10%,#52E5E7 100%);
        display:initial;
        position:fixed;
        margin-right: 0;
        margin-left: 35%;
    }
    .btn2 > div:nth-child(2) > button {
        height: 3.5vw;
    }
    .btn2 {
        grid-template-rows: 3.5vw;
        margin-top: 1%;
    }
    .cont2 > div:nth-child(1) {
        width: 83%;
        margin: 10px;
        margin-left: 10% !important;
        border-radius: 1%;
        color: white;
        height: 8vw;
        background-image: linear-gradient(135deg, #2856B7 10%, #339AD4 100%);
    }
    .media > div:nth-child(1) > img {
        width: 65px;
        border-radius: 50%;
        margin: 18px;
        border: 5px solid #4671ce;
    }
    .btn2 > div:nth-child(1) > img {
        width: 83%;
        height: 2vw;
        margin-top: 15%;
        margin-left: 8%;
        margin-right: 3px;
    }
    .media {
        display: grid;
        grid-template-rows: 5vw;
        grid-template-columns: 15% 80%;
        padding-top: 8px;
        height: 20vw;
    }
    .mediatext {
        line-height: 20px;
    }
    .cont1 > div:nth-child(2) {
        font-size: 20px;
    }
    .signupform > div:nth-child(n) {
        margin-top: 1%;
    }
    #backimage {
        width: 100%;
        height: 70vh;
        background-image: url(https://d2p078bqz5urf7.cloudfront.net/cloud/assets/img/login-image.svg);
        background-repeat: no-repeat;
        background-position:left;
        background-position: bottom;
        background-color: transparent;
        margin-top: 60px;
        margin-left: 20px;
    }
}
